In [2]:
import pandas as pd
import numpy as np
import requests
import sqlite3

In [3]:
connection = sqlite3.connect('C:\\Users\\tsaritsenskaya\\Downloads\\local_db.db')

In [4]:
db_1 = connection.execute('select Name, StationCapacity, Location from stations')

In [5]:
db_1.description

(('Name', None, None, None, None, None, None),
 ('StationCapacity', None, None, None, None, None, None),
 ('Location', None, None, None, None, None, None))

In [6]:
row = db_1.fetchall()

In [11]:
df = pd.DataFrame(row, columns=[x[0] for x in db_1.description])

In [12]:
df.head()

,Name,StationCapacity,Location
0,Пункт проката велосипедов № 2,14,"Гоголевский б-р (напротив д.17, стр.1)"
1,Пункт проката велосипедов № 3,12,Гоголевский б-р (напротив д.33)
2,Пункт проката велосипедов № 5,12,"Никитский б-р (напротив д.11/12, стр.3)"
3,Пункт проката велосипедов № 6,15,Никитский б-р (напротив д.23/14/9)
4,Пункт проката велосипедов № 8,14,"Тверской б-р (напротив д.17, стр.1)"

In [13]:
df.info

<bound method DataFrame.info of                                 Name StationCapacity  \
0      Пункт проката велосипедов № 2              14
1      Пункт проката велосипедов № 3              12
2      Пункт проката велосипедов № 5              12
3      Пункт проката велосипедов № 6              15
4      Пункт проката велосипедов № 8              14
..                               ...             ...
722  Пункт проката велосипедов № 966              15
723  Пункт проката велосипедов № 967              15
724  Пункт проката велосипедов № 968              15
725  Пункт проката велосипедов № 969              15
726  Пункт проката велосипедов № 970              15

                                    Location
0     Гоголевский б-р (напротив д.17, стр.1)
1            Гоголевский б-р (напротив д.33)
2    Никитский б-р (напротив д.11/12, стр.3)
3         Никитский б-р (напротив д.23/14/9)
4        Тверской б-р (напротив д.17, стр.1)
..                                       ...
722   Сколково, Большой бульвар, д.42, стр.1
723   Сколково, Большой бульвар, д.30, стр.1
724           Сколково, Большой бульвар, д.7
725     Сколково, Большой бульвар, д.47, к.1
726         Сколково, ул. Блеза Паскаля, д.2

[727 rows x 3 columns]>

In [24]:
df['StationCapacity'] = df['StationCapacity'].astype(int)

In [25]:
df['StationCapacity'].dtype

dtype('int32')

In [37]:
df1 = df.sort_values(by=['StationCapacity', 'Name'], ascending=[False, True])

In [38]:
df1.head(6)

,Name,StationCapacity,Location
33,Пункт проката велосипедов № 209,54,ст. м. Спортивная (выход №1)
331,Пункт проката велосипедов № 100,51,"Зубовский б-р, д.5, стр.1 (ст. м. Парк Культуры)"
162,Пункт проката велосипедов № 466,48,Продольный пр. (у главного входа ВДНХ)
465,Пункт проката велосипедов № 700,48,"пр-т Мира, д.119, стр.23 (у Москвариума)"
332,Пункт проката велосипедов № 102,45,"Зубовская пл., д.3, стр.1"
30,Пункт проката велосипедов № 210,45,Лужнецкая наб. (пересеч. с Новолужнецким пр.)

In [39]:
df1.to_csv('C:\\Users\\tsaritsenskaya\\Downloads\\local1.csv', sep=';', index=False, encoding='utf-8')